<IfModule mod_rewrite.c>
    RewriteEngine On

    # Se o arquivo ou diretório existe, sirva-o e NÃO redirecione pro index.php
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    # Tudo o resto vai pra index.php
    RewriteRule ^ index.php [QSA,L]

    AddType text/css .css
    AddType application/javascript .js
    Header set X-Content-Type-Options "nosniff"
</IfModule>