# C:\xampp\htdocs\Projeto\public\.htaccess

Options -Indexes

<IfModule mod_rewrite.c>
  RewriteEngine On

  # Como o domínio já aponta pra /public, não precisa de RewriteBase
  # RewriteBase /

  # Se o arquivo ou diretório existe, serve direto
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  # Todo o resto vai para o index.php
  RewriteRule ^ index.php [QSA,L]
</IfModule>

<IfModule mod_headers.c>
  Header set X-Content-Type-Options "nosniff"
</IfModule>