 .clientsTitle {
  width: 100px;
  max-height: 55px;
  margin: 0px auto;
 }

 .clientsTitle > h1 {
  font-family: 'Rubik', sans-serif;
  padding: 4px 4px 4px 4px;
  border-radius: 6px;
  font-size: 20px;
  overflow-x: auto;
 }

 .tableContainer {
    border: solid 1px #837878db;
    background-color: rgba(0, 0, 0, 0.1);
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
    overflow-x: auto;
    background-color: #fff;
    border-radius: 8px;
    padding: 10px;
    font-family: 'Rubik', sans-serif;
  }
  
  .myTable {
    width: 100%;
    border-collapse: collapse;
    margin: 2px 0px;
  }
  
  .myTable thead {
    background-color: #181717db;
    color: #fff;
  }
  
  .myTable th {
    padding: 12px 15px;
    font-weight: 600;
    text-align: center;
  }
  
  .myTable td {
    padding: 10px 15px;
    text-align: center;
    border-bottom: 1px solid #eee;
    vertical-align: middle;
  }
  
  .myTable tbody tr:nth-child(even) {
    background-color: #f7f7f7;
  }
  
  .myTable tbody tr:hover {
    background-color: #eaeaea;
  }
  
   .myTable tbody tr:nth-child(even) {
    background-color: #f7f7f759;
  }
  
  .myTable tbody tr:hover {
    background-color: #eaeaea;
  }

  .btnIncluir {
    text-decoration: none;
    background-color: #181717db;
    color: #fff;
    padding: 8px 20px;
    border-radius: 6px;
    width: 100px;
    font-size: 14px;
    margin-top: 10px;
    display: flex;
  }

  .btnActions > a {
    text-decoration: none;
  }