body {
  font-family: 'Rubik';
}

.infoContainer {
  padding: 15px auto 15px auto;
  top: 70px;
  display: grid;
  grid-template-columns: 1fr;

  row-gap: 1rem;
  column-gap: 0;

  margin: auto 10px auto 120px;
  max-width: 1750px;
  padding: 15px;
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  box-sizing: border-box;
  position: relative;
  overflow: visible;
}

.fieldsetBlockInfo label,
.fieldsetBlockTributes label,
.fieldsetBlockValues label {
  align-self: center;
  justify-self: auto;
  margin-right: 8px;
  font-size: 14px;
  font-weight: normal;
}

.containerTitle {
  grid-column: 1 / -1;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: bold;
  color: #1a1818;
  padding: 8px 0;
  border-bottom: 1px solid #ccc;
}

.fieldsetBlockInfo {
  border: 1px solid #aaa2a2c4;
  border-radius: 6px;
  padding: 1.5rem 1rem 1rem;
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: auto minmax(0, 1fr);
  column-gap: 0.5rem;
  row-gap: 0.5rem;
  font-size: 14px;
  width: 600px;
}


.fieldsetBlockInfo input,
.fieldsetBlockTributes input,
.fieldsetBlockValues input {
  align-self: center;
  justify-self: auto;
  margin-right: 8px;
  font-size: 14px;
  font-weight: normal;
}

.fieldsetId {
  top: 15px;
  right: 25px;
  position: absolute;
  width: 64px;
  height: 44px;
  border-radius: 6px;
}

.fieldsetBlockTributes {
  border: 1px solid #aaa2a2c4;
  border-radius: 6px;
  padding: 1.5rem 1rem 1rem;
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: auto minmax(0, 1fr);
  column-gap: 0.5rem;
  row-gap: 0.5rem;
  font-size: 14px;
  width: 400px;
}

.fieldsetBlockValues {
  border: 1px solid #aaa2a2c4;
  border-radius: 6px;
  padding: 1.5rem 1rem 1rem;
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: auto minmax(0, 1fr);
  column-gap: 0.5rem;
  row-gap: 0.5rem;
  font-size: 14px;
  width: 400px;
}

.fieldsetBlockInfo legend,
.fieldsetBlockTributes legend,
.fieldsetBlockValues legend {
  padding: 0 0.25rem;
  font-weight: bold;
  font-size: 12px;
  color: #1a1818;
}

.fieldsetId legend {
  padding: 0 0.25rem;
  font-weight: bold;
  font-size: 12px;
  color: #1a1818;
  text-align: center;
}


.fieldsetBlockTributes input,
.fieldsetBlockTributes select
{
  font-family: 'Rubik';
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border: 0.5px solid #aaa2a2c4;
  border-radius: 6px;
  font-size: 14px;
  background: #fff;
  color: #000;
  height: 28px;
  justify-self: stretch;
}

.fieldsetBlockInfo input
{
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border: 0.5px solid #aaa2a2c4;
  border-radius: 6px;
  font-size: 14px;
  background: #fff;
  color: #000;
  height: 28px;
  justify-self: stretch;
  width: 400px;
}

.fieldsetBlockInfo select {
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border: 0.5px solid #aaa2a2c4;
  border-radius: 6px;
  font-size: 14px;
  background: #fff;
  color: #000;
  height: 28px;
  justify-self: stretch;
  width: 350px;
  text-align: center;
}

.fieldsetBlockValues input {
  appearance: none;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border: 0.5px solid #aaa2a2c4;
  border-radius: 6px;
  font-size: 14px;
  background: #fff;
  color: #000;
  -moz-appearance: none;
  -webkit-appearance: none;
  height: 28px;
  justify-self: stretch;
}

#gtin {
  appearance: none;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border: 0.5px solid #aaa2a2c4;
  border-radius: 6px;
  font-size: 14px;
  background: #fff;
  color: #000;
  -moz-appearance: none;
  -webkit-appearance: none;
  height: 28px;
  width: 18ch;
  text-align: center;
  justify-self: stretch;
}

.btnSave {
    text-decoration: none;
    background-color: rgba(37, 34, 34, 0.999);
    border: 1px solid #fff;
    color: #fff;
    padding: 6px 20px;
    border-radius: 8px;
    font-size: 14px;
    width: 100px;
    cursor: pointer;
    transition: 0.3s;
}

.btnSave:hover {
    background-color: rgba(20, 18, 18, 0.8);
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}